{% extends 'core.html' %}
{% block DashBoard %}
<table class="table  table-striped">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Email</th>
      <th scope="col">phone No</th>
      <th scope="col">School Name</th>
      <th scope="col" >Action</th>




    </tr>
  </thead>
  <tbody>
    {% for student in schoolstudentList %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>
      <td>{{student.gender}}</td>
      <td>{{student.email}}</td>
      <td>{{student.phoneNo}}</td>
      <td>{{student.schoolName}}</td>
      <td><a href="{% url 'SchoolApp:StudentProfileUpdate' student.id %}"><i class="bi bi-pencil-square"></i></a> <i class="bi bi-trash3-fill"></i></td>
 

    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}