{% extends "base.html" %}
{% block content %}
<div class="container LoginContainer">
    <div class="row">
        
        <div class="col-6 ">
            <h5>School Sign Up </h5>
        
        <form method="post">
        {% csrf_token %}
        {% for fm in form %}
            <div class="form-group">
                {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}
            </div>
        {% endfor %}
        <input type="submit" value="Sign Up" class="btn btn-danger my-3">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
             <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
        {% endif %}
        
    </form>
        </div>
    </div>
</div>
{% endblock %}