* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.TopHeader {
    background: #fff;
    padding: 24px 60px;
    border-bottom: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.mainMenu  {
    margin-left:50px;
    
}

.mainMenu ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #1d73ff;
    text-transform: uppercase;
    margin-left: 10px;
    letter-spacing: 1px;
}

.HeroBanner {
    width: 100%;
    height: 850px;
    background: url("/static/img/bg/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.authButton button {
    margin-left: 15px;
    padding: 9px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.authButton .loginbtn {
    background-color: rgb(1, 87, 98);
}

.authButton .signUp {
    background-color: rgb(205, 78, 0);
}
.HeroBanner{
    position: relative;
   
}
.HeroText h1{
    font-size: 64px;
}

