{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}School Management System {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    {% include 'header.html' %}
    {% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 HeroBanner">
                    <div class="container">
                        <div class="row HeroSection align-items-center m-0 p-0 ">
                            <div class="col-6 HeroText ">
                                
                                <h1><span style="color:#525fe1;">Smart Study</span> Where Knowledge Meets the Web</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, consectetur adipiscing elit tempor ut labore</p>
                            </div> 
                            <div class="col-6 HeroImage ">
                                <img src="{% static 'img/home-img2.png' %}" alt="" srcset="">
                            </div>

                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>

</html>