{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}School Management System{% endblock %}</title>
</head>

<body>
    <header class="TopHeader">
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-3">
                    <figure>
                        <img src="{% static 'img/logo.png' %}">
                    </figure>
                </div>
                <div class="col-6 ">
                    <nav class=" mainMenu">
                        <ul class="nav">

                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Course</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-3">
                    <div class="authButton ">
                        <button class="loginbtn">Login</button>
                        <button class="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>